<?xml version="1.0"?>

<launch>
	
    <!-- Bandpower arguments -->
    <arg name="framerate" default="16"/>

    <!-- Bandpower node -->
    <node name="bandpower_node" pkg="logbandpower" type="bandpower.py" output="screen" >
        <param name="~rate" value="$(arg framerate)" />
    </node>

</launch>