<?xml version="1.0"?>

<launch>
	
    <!-- Remeap topic /bandpower to /eeg/bandpower -->
	<remap from="bandpower" to="eeg/bandpower" />

    <!-- Bar plot arguments -->
	<arg name="channel" default="9"/>

    <!-- Bar plot node -->
    <node name="bar_plot" pkg="logbandpower" type="bar_plot.py" output="screen">
	    <param name="~channel" value="$(arg channel)"/>
    </node>

</launch>