<?xml version="1.0"?>

<launch>

	<!-- Acquisition launch -->
    <include file="$(find logbandpower)/launch/acquisition.launch" />

	<!-- Visualization launch -->
    <!-- TODO: to remove -->
    <include file="$(find logbandpower)/launch/visualization.launch" />
	
    <!-- Filter chain launch -->
    <include file="$(find logbandpower)/launch/filter_chain.launch" />
	
	<!-- Recording launch -->
    <include file="$(find logbandpower)/launch/recording.launch" />
	
</launch>