<?xml version="1.0"?>

<launch>

    <!-- Recording arguments -->
	<arg name="autostart"   default="true"/>
	<arg name="filepath"    default="$(find logbandpower)/record"/>
 	
	<!-- Recording node -->
 	<node name="recorder" pkg="rosneuro_recorder" type="recorder" >
		<param name="~autostart"	value="$(arg autostart)"/>
		<param name="~filepath"     value="$(arg filepath)"/>
	</node>

</launch>