<?xml version="1.0"?>

<launch>

    <!-- Remeap topic /neurodata to /eeg/raw -->
	<remap from="neurodata" to="eeg/raw" />
	<!-- Remeap topic /neurodata_filtered to /eeg/filtered -->
	<remap from="neurodata_filtered" to="eeg/filtered" />
    <!-- Remeap topic /bandpower to /eeg/bandpower -->
	<remap from="bandpower" to="eeg/bandpower" />

    

    <!-- Acquisition launch -->
    <include file="$(find logbandpower)/launch/acquisition.launch">
        <arg name="plugin"      default="rosneuro::EGDDevice"/>
        <arg name="devarg"      default="$(find logbandpower)/dataset/data.gdf"/>
        <arg name="samplerate"  default="512"/>
        <arg name="framerate"   default="16"/>
    </include>
	
    <!-- Filter chain launch -->
    <include file="$(find logbandpower)/launch/filter_chain.launch">
    </include>

    <!-- Bandpower launch -->
    <include file="$(find logbandpower)/launch/bandpower.launch">
        <arg name="framerate" default="16"/>
    </include>

    <!-- Thresholding launch -->
    <include file="$(find logbandpower)/launch/thresholding.launch">
        <arg name="threshold" default="15"/>
        <arg name="channel" default="9"/>
    </include>
	
	<!-- Recording launch -->
    <include file="$(find logbandpower)/launch/recording.launch">
        <arg name="autostart"   default="true"/>
	    <arg name="filepath"    default="$(find logbandpower)/record"/>
    </include>
	
</launch>